// If You'd like to see the code on github, or get the minified css for that component, then I'd be more than happy, to share this link with You -> https://github.com/Vorbert-Kruk/navigation-with-moving-line 😁

// Variables
$accent: #fcd73f;
$secondary: rgba(46, 49, 49, 1);
$light: #fff;
$grey: #808080;
$Tomato: #FF6347;

.nav-item{
  margin-left: 20px;
  margin-right: 20px;
    table{
      tr{
        padding: 10px;
        margin: 5px;
            td{
              font-size: 12px;
              padding: 10px;
              margin: 5px;
              text-align: left;
                  a{
                    color: black;
                    text-decoration: none;
                  }
                  a:hover{
                    text-decoration: none;
                    color: $Tomato;
                    transition: .3s;
                  }
            }
      }
    }
}
.crime_Movies{
    display: flex;
    flex-wrap: wrap;
      a{
        .item{
            margin:10px;
            margin-left: 22px;
            img{
                height: 200px;
                width: 150px;
            }
            .movie_Title_Act{
                width: 150px;
            }
        }
      }
}

footer{
    background-color: $secondary;
    padding: 10px;
        .row{
          
          .flex{
            display: flex;
                  div{
                   border-left:5px solid;
              .footerlist, .footerlist2, .footerlist3{
               list-style-type: none;
               padding-left: 40px;
               padding-right: 40px; 
               padding-bottom: 40px;  
               text-align: right;          
                  li a{
                    color: white;
                  }
                  li a:hover{
                    text-decoration: none;
                    color: $Tomato;
                    transition: .4s;
                  }
            }
          }
      }
    }
  } 
  
  