body{
    margin-right: 2%;
    margin-left: 2%;
        
        .help{
            width: 70px; 
            font-size: 20px;
            padding: 10px;
            border-radius: 50px;
            opacity: .8; 
            position: absolute;
            left: 92%;
            top: 85%;
        }

        .help:hover{
            opacity: 1;
            cursor: pointer;
            transition: .4s;
        }

        .main-card{
            position: relative;

                img{
                 position: absolute;
                 left: 45%;
                 top: 35%;    
                 border-radius:50% ; 
                 cursor: pointer; 
                }

                p{
                    position: absolute;
                    left: 25%;
                    top: 55%;
                }
        }
        .row{
            position: relative;

                .col-4{
                    position: relative;
                        .h4-s{
                            color: #f7f7f7;
                            cursor: pointer;
                        }
                        .h4-s:hover{
                            color:#292b2c;
                            background-color:#f7f7f7 ;
                            transition: .5s;
                        }


                }
        }

        .first-Card{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
                .size{
                    width: 50px;
                    margin: 8%;
                    text-align: center;
                    border-radius: 10px;
                    height: 50px;
                    cursor: pointer;
                    background-color: rgba(210, 215, 211, 1);
                    color: white;
                }
                .size:hover{
                    background-color: white;
                    color: black;
                    transition: .4s;
                }
        }
        .second-Card{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
                .FSize{
                    padding: 10px;
                    margin: 7px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgba(210, 215, 211, 1);
                    color: white;
                    cursor: pointer;
                }
                .FSize:hover{
                    background-color: whitesmoke;
                    color: black;
                    transition: .4s;
                }
                .FSize1{
                    font-size: 16px;
                }
                .FSize2{
                    font-size: 12px;
                }
                .FSize3{
                    font-size: 14px;
                }
                .FSize4{
                    font-size: 20px;
                }
                .FSize5{
                    font-size: 30px;
                }
                .FSize6{
                    font-size: 40px;
                }
                
        }
        .Third-Card{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
                .BSize{
                    width: 90px;
                    height: 90px;
                    margin: 5px;
                    border-radius: 10px;
                }
        }
        .Zero-Card{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
                .CSize{
                    width: 90px;
                    height: 90px;
                    margin: 5px;
                    border-radius: 10px;
                }
        }   
        .forth-Card{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
                .ISize{
                    width: 90px;
                    height: 90px;
                    margin: 5px;
                    border-radius: 10px;
                }
                .ISize1{
                    font-size: 16px;
                }
                .ISize2{
                    background-image: url(https://image.freepik.com/free-vector/abstract-classic-blue-background-theme_23-2148420120.jpg);
                }
                .ISize3{
                    background-image: url(https://i.pinimg.com/originals/64/20/35/6420354ae3dc2461a35e17f5433a5c68.jpg);
                }
                .ISize4{
                    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190820/pngtree-abstract-background-80s-memphis-geometric-blue-colors-theme-image_304129.jpg);
                }
                .ISize5{
                    background-image: url(https://image.freepik.com/free-vector/3d-triangle-shape-vivid-colors-theme-background_23-2148417307.jpg);
                }
                .ISize6{
                    background-image: url(https://wallpaperset.com/w/full/4/6/e/304742.jpg);
                }
                .ISize7{
                    background-image: url(https://i.pinimg.com/originals/0d/48/a2/0d48a297b2ced6b96a50c2079f4a4de5.jpg);
                }
                .ISize8{
                    background-image: url(https://www.freegreatpicture.com/files/147/4413-background-color.jpg);
                }
                .ISize9{
                    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3822500.jpg);
                }
        }
        .Fifth-Card{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
                .SSize{
                    width: 90px;
                    height: 90px;
                    margin: 5px;
                    border-radius: 10px;
                    position: relative;
                    text-align: center;
                    cursor: pointer;
                    background-color: white;
                    color: black;
                        
                        .middle{
                            position: relative;
                            top: 40%;
                        }
                }
                .SSize:hover{
                    color: white;
                    background-color: black;
                    transition: .4s;
                }
                .SSize1{
                    font-family: 'Times New Roman', Times, serif;
                }
                .SSize2{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
                }
                .SSize3{
                    font-family: Arial, Helvetica, sans-serif;
                }
                .SSize4{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
                .SSize5{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
                .SSize6{
                    font-family: fantasy;
                }
                .SSize7{
                    font-family: monospace;
                }

                .SSize8{
                    font-style: italic;
                }


                
        }
    }
    