body {
  margin-right: 2%;
  margin-left: 2%;
}

body .help {
  width: 70px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  opacity: .8;
  position: absolute;
  left: 92%;
  top: 85%;
}

body .help:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

body .main-card {
  position: relative;
}

body .main-card img {
  position: absolute;
  left: 45%;
  top: 35%;
  border-radius: 50%;
  cursor: pointer;
}

body .main-card p {
  position: absolute;
  left: 25%;
  top: 55%;
}

body .row {
  position: relative;
}

body .row .col-4 {
  position: relative;
}

body .row .col-4 .h4-s {
  color: #f7f7f7;
  cursor: pointer;
}

body .row .col-4 .h4-s:hover {
  color: #292b2c;
  background-color: #f7f7f7;
  -webkit-transition: .5s;
  transition: .5s;
}

body .first-Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .first-Card .size {
  width: 50px;
  margin: 8%;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  background-color: #d2d7d3;
  color: white;
}

body .first-Card .size:hover {
  background-color: white;
  color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

body .second-Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .second-Card .FSize {
  padding: 10px;
  margin: 7px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #d2d7d3;
  color: white;
  cursor: pointer;
}

body .second-Card .FSize:hover {
  background-color: whitesmoke;
  color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

body .second-Card .FSize1 {
  font-size: 16px;
}

body .second-Card .FSize2 {
  font-size: 12px;
}

body .second-Card .FSize3 {
  font-size: 14px;
}

body .second-Card .FSize4 {
  font-size: 20px;
}

body .second-Card .FSize5 {
  font-size: 30px;
}

body .second-Card .FSize6 {
  font-size: 40px;
}

body .Third-Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Third-Card .BSize {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
}

body .Zero-Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Zero-Card .CSize {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
}

body .forth-Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .forth-Card .ISize {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
}

body .forth-Card .ISize1 {
  font-size: 16px;
}

body .forth-Card .ISize2 {
  background-image: url(https://image.freepik.com/free-vector/abstract-classic-blue-background-theme_23-2148420120.jpg);
}

body .forth-Card .ISize3 {
  background-image: url(https://i.pinimg.com/originals/64/20/35/6420354ae3dc2461a35e17f5433a5c68.jpg);
}

body .forth-Card .ISize4 {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190820/pngtree-abstract-background-80s-memphis-geometric-blue-colors-theme-image_304129.jpg);
}

body .forth-Card .ISize5 {
  background-image: url(https://image.freepik.com/free-vector/3d-triangle-shape-vivid-colors-theme-background_23-2148417307.jpg);
}

body .forth-Card .ISize6 {
  background-image: url(https://wallpaperset.com/w/full/4/6/e/304742.jpg);
}

body .forth-Card .ISize7 {
  background-image: url(https://i.pinimg.com/originals/0d/48/a2/0d48a297b2ced6b96a50c2079f4a4de5.jpg);
}

body .forth-Card .ISize8 {
  background-image: url(https://www.freegreatpicture.com/files/147/4413-background-color.jpg);
}

body .forth-Card .ISize9 {
  background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3822500.jpg);
}

body .Fifth-Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Fifth-Card .SSize {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

body .Fifth-Card .SSize .middle {
  position: relative;
  top: 40%;
}

body .Fifth-Card .SSize:hover {
  color: white;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

body .Fifth-Card .SSize1 {
  font-family: 'Times New Roman', Times, serif;
}

body .Fifth-Card .SSize2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body .Fifth-Card .SSize3 {
  font-family: Arial, Helvetica, sans-serif;
}

body .Fifth-Card .SSize4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body .Fifth-Card .SSize5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body .Fifth-Card .SSize6 {
  font-family: fantasy;
}

body .Fifth-Card .SSize7 {
  font-family: monospace;
}

body .Fifth-Card .SSize8 {
  font-style: italic;
}
/*# sourceMappingURL=NoteMe2.css.map */