
.boxes{
    display: flex;
    flex-wrap: wrap;
    

    .box{
    width: 300px;
    font-size:20px;
    margin-right: 52px;
    margin-left: 52px;
    margin-bottom: 40px;
    height: 200px;
    
    background-color: rgba(236, 236, 236, 1);
    

    p{
        text-align: center;
        font-weight: bold;
        padding: 20px;  
    }   
        .btn2{
            position: relative;
            left: 70%;
        }
       
    }
}

