img{
    height: 600px;
}
.img1{
    display: none;
    width: 100%;
    
}
.Prev, .Next{
font-size: 50px;
border: none;
font-weight: bold;
opacity: 0.2;
}
.Prev{
    position: absolute;
    top: 50%;
    left: 10%;
}
.Next{
    position: absolute;
    top: 50%;
    left: 90%;
}
.Prev:hover, .Next:hover{
    opacity: 1;
    transition: 0.5s ease;
}