.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item table tr {
  padding: 10px;
  margin: 5px;
}

.nav-item table tr td {
  font-size: 12px;
  padding: 10px;
  margin: 5px;
  text-align: left;
}

.nav-item table tr td a {
  color: black;
  text-decoration: none;
}

.nav-item table tr td a:hover {
  text-decoration: none;
  color: #FF6347;
  -webkit-transition: .3s;
  transition: .3s;
}

body {
  margin: 0;
  padding: 0;
}

body .FCarousel {
  margin: 0;
  padding: 0;
}

body .FCarousel .FCimg {
  width: 100%;
  height: 600px;
  opacity: .5;
}

body .FCarousel .movie_Title {
  position: absolute;
  top: 63%;
  left: 1%;
}

body .container1 .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container1 .btns .icons {
  padding: 5px;
  margin-left: 10px;
  width: 140px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 13px;
}

body .container1 .btns .icons1 {
  background-color: #3b5998;
  color: white;
}

body .container1 .btns .icons2 {
  background-color: #cd486b;
  color: white;
}

body .container1 .btns .icons3 {
  background-color: #1da1f2;
  color: white;
}

body .container1 .btns .icons4 {
  background-color: #808080;
  color: white;
}

body .container1 .btns .icons5 {
  background-color: green;
  color: white;
}

body .container1 .btns .icons6 {
  background-color: red;
  color: white;
}

body .container1 .btns .icons7 {
  background-color: #5bc0de;
  color: white;
}

body .Suggestions .Suggestion_Movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Suggestions .Suggestion_Movies a {
  margin-left: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

body .Suggestions .Suggestion_Movies a .item {
  opacity: .6;
  cursor: pointer;
}

body .Suggestions .Suggestion_Movies a .item .movie_Title_Sugg {
  width: 200px;
}

body .Suggestions .Suggestion_Movies a .item:hover {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

body .Latest .Latest_Movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Latest .Latest_Movies a .item {
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: .6;
  cursor: pointer;
}

body .Latest .Latest_Movies a .item:hover {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

body .requested .Request_Movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .requested .Request_Movies a .item {
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: .6;
  cursor: pointer;
}

body .requested .Request_Movies a .item:hover {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

body footer {
  background-color: #2e3131;
  padding: 10px;
}

body footer .row .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .row .flex div {
  border-left: 5px solid;
}

body footer .row .flex div .footerlist, body footer .row .flex div .footerlist2, body footer .row .flex div .footerlist3 {
  list-style-type: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  text-align: right;
}

body footer .row .flex div .footerlist li a, body footer .row .flex div .footerlist2 li a, body footer .row .flex div .footerlist3 li a {
  color: white;
}

body footer .row .flex div .footerlist li a:hover, body footer .row .flex div .footerlist2 li a:hover, body footer .row .flex div .footerlist3 li a:hover {
  text-decoration: none;
  color: #FF6347;
  -webkit-transition: .4s;
  transition: .4s;
}
/*# sourceMappingURL=S_Movies.css.map */