// If You'd like to see the code on github, or get the minified css for that component, then I'd be more than happy, to share this link with You -> https://github.com/Vorbert-Kruk/navigation-with-moving-line 😁

// Variables
$accent: #fcd73f;
$secondary: rgba(46, 49, 49, 1);
$light: #fff;
$grey: #808080;
$Tomato: #FF6347;

.nav-item{
  margin-left: 20px;
  margin-right: 20px;
    table{
      tr{
        padding: 10px;
        margin: 5px;
            td{
              font-size: 12px;
              padding: 10px;
              margin: 5px;
              text-align: left;
                  a{
                    color: black;
                    text-decoration: none;
                  }
                  a:hover{
                    text-decoration: none;
                    color: $Tomato;
                    transition: .3s;
                  }
            }
      }
    }
}
body{
  margin: 0;
  padding: 0;
    
        
  .FCarousel{
    margin: 0;
    padding: 0;
    
  .FCimg{
      width:100%; 
      height:600px;
      opacity: .5;
    }
    .movie_Title{
      position: absolute;
      top: 63%;
      left: 1%;
      
    }
  }

  .container1{
      .btns{
        display: flex;
        flex-direction: row;
        
        .icons{
          padding: 5px;
          margin-left: 10px;
          width: 140px;
          padding-left: 10px;
          border-radius: 5px;
          font-size: 13px;
        }
        .icons1{
          background-color: #3b5998;
          color: white;
        }
        .icons2{
          background-color:  #cd486b;
          color: white;
        }
        .icons3{
          background-color:  #1da1f2 ;
          color: white;
        }
        .icons4{
          background-color:  #808080;
          color: white;
        }
        .icons5{
          background-color:  green;
          color: white;
        }
        .icons6{
          background-color:  red;
          color: white;
        }
        .icons7{
          background-color:  #5bc0de;
          color: white;
        }
      }
  }


  // 
  // Suggestions
  // 
  .Suggestions{
      .Suggestion_Movies{
            display: flex;
            flex-wrap: wrap;
              a{
                margin-left: 20px;
                margin-bottom: 10px;
                text-decoration: none;
              .item{
                
                opacity: .6;
                cursor: pointer;
                    .movie_Title_Sugg{
                      width: 200px;
                    }
              }
              .item:hover{
                opacity: 1;
                transition: .4s;
              }
            }
          }
          }

     
      // 
      // Latest
      // 
      .Latest{
        .Latest_Movies{
          
          display: flex;
          flex-wrap: wrap;
          a{
              .item{
                margin-left: 20px;
                margin-bottom: 10px;
                opacity: .6;
                cursor: pointer;
              }
              .item:hover{
                opacity: 1;
                transition: .4s;
        }
      }
    }


}

// 
// REquest
// 
.requested{
  .Request_Movies{
    
    display: flex;
    flex-wrap: wrap;
    a{
        .item{
          margin-left: 20px;
          margin-bottom: 10px;
          opacity: .6;
          cursor: pointer;
        }
        .item:hover{
          opacity: 1;
          transition: .4s;
  }
}
}

}

footer{
  background-color: $secondary;
  padding: 10px;
      .row{
        
        .flex{
          display: flex;
                div{
                 border-left:5px solid;
            .footerlist, .footerlist2, .footerlist3{
             list-style-type: none;
             padding-left: 40px;
             padding-right: 40px; 
             padding-bottom: 40px;  
             text-align: right;          
                li a{
                  color: white;
                }
                li a:hover{
                  text-decoration: none;
                  color: $Tomato;
                  transition: .4s;
                }
          }
        }
    }
  }
} 

}
