.MainFormbg{
    margin-left:15%;
    margin-right:15%;

        .btns{
            border-radius: 5px;
            color: grey;
            }
        .row1{
            padding: 20px;
                
        }    
    }
.col{
    
   border-left:2px solid ;
    border-right:2px solid;
    border-bottom: none;
    margin-top: 1px;

        p{
            margin-bottom: 0;
            text-align: center;
            border-bottom: 2px solid;
            font-weight: bold;
            border-radius: 10px;
        }
}