
.input-btn{
    margin-left: -5px;
    position: relative;
    bottom: 2px;
}
.center1{
    text-align: center;
    margin-top: 10%;
}
.input1{
    border: none;
    background-color: rgb(216, 213, 213);
    padding-left: 10px;
    opacity: .8;
    color: grey;
}
.input1:hover{
    opacity: 1;
    background-color: white;
    border: 2px solid grey;
}
#addItems{
  
    
    width: 66.5%;
    
    position: relative;
    left: 17%;    
    }
    .i-edit{
        color: rgb(95, 93, 93);
        font-weight: bold;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        border-radius: 10px;
        text-align: justify;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
    }
    .check-btn{
        border: none;
        position: relative;
        left: 80%;
    }
    .check-btn:hover{
    font-size: larger;
        
    }
    .trash-btn{
       border: none;
        position: relative;
        left: 82%;
    }