*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.container{
    width: 100%;

}
.Post{
    width: 100%;
    border: 1px solid rgba(104, 64, 64, 0.589);
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 0 2px grey;
    float: left;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: grey;
    text-align: center;
}
.Cbody{
font-size: 16px;
text-align: center;

}
.Post0{
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}