.border{
    display: table;
    width: 100%;
    padding: 10px;
}
.border-boxes{
    width: 100%;
    max-width: 400px;
    height: 400px;
    display: table;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 10px;
   border-radius: 10px;
    box-shadow: 0 0 30px 3px black;
    list-style-type: none;
    position: relative;

}
.border-box{
    width: 126px;
    height: 126px;
    display: block;
    float:left ;
    border: 3px solid white;
    cursor: pointer;
}
.circle{
    background-image: url(circle_PNG49.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80px;
    height: 80px;
    display: block;
    margin: 21px auto;

  
}
.lineCutter{
    position: relative;
    top: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}
.lineCutter012{ top: 60; height: 5; left: 0;}
.lineCutter345{ top: 195; height: 5; left: 0;}
.lineCutter678{ top: 330; height: 5; left: 0;}
.lineCutter048{ top: 0; height: 5; left: 0; transform: rotate(45deg); position: absolute; 
    top: 49%;}
.lineCutter246{ top: 0; height: 5; left: 0; transform: rotate(135deg); position: absolute; top: 48.5%;}
.lineCutter036{ top: 200; height: 5; left: -130;   transform: rotate(90deg);}
.lineCutter147{ top: 200; height: 5; left: 0; transform: rotate(90deg);}
.lineCutter258{ top: 200; height: 5; left: 130; transform: rotate(90deg);}
.cross{
    background-image: url("cross-wrong-cross-transparent-background-11562851969ihtu0kgnjy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80px;
    height: 80px;
    display: block;
    margin: 21px auto;
    }
.border-box1{
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
  }
  .border-box2{
    border-top: 3px solid transparent;
  }
  .border-box3{
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
  }
  .border-box4{
    border-left: 3px solid transparent;
  }
  .border-box6{
    border-right: 3px solid transparent;
  }
  .border-box7{
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .border-box8{
    border-bottom: 3px solid transparent;
  }
  .border-box9{
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
  }