#box{
    position: relative;
    left: 5%;
    margin-top: 3%;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    border-radius: 15px;
    width: 90%;
    height: 90%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
    border-radius: 13px;
}
.active{
    display: block;
}
#btn1{
    position: absolute;
    top: 50%;
    left: 90%;
}
#btn2{
    position: absolute;
    top: 50%;
    left: 7.8%;
}