*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(abstract-technology-particle-background_52683-25766.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
select{
    border: none;
    height: 5%;
    background-color : black;
    color: white;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: tomato;
}
#input1{
border: 2px solid grey;
width: 20%;
height: 5%;
margin-left: 25%;
text-align: center;
font-size: 18px;
margin-top: 10%;
background-color: white;
}
#input2{
    text-align: center;
    font-size: 18px;
    height: 5%;
    border: 2px solid grey;
    background-color: white;
    width: 20%;
}
button{
    border: none;
    padding: 8px;
    color:white;
    background-color:rgb(50, 171, 241);
    font-weight: bold;
}
button:hover{
    background-color: white;
    color: black;
}
#ans{
border: 2px solid grey;
margin-left: 38%;
text-align: center;
 font-size: 25px;
padding-top: 15px;    
height: 6%;
width: 15%;
background-color: white;
}
